#SQLite inbuilt python module

* it also know as server less database


##Assignment

1. Create a database
2. Create a table
3. Insert data into the table
4. Query data from the table
5. Close the database connection

### Step 1: Import the sqlite3 Module

In [8]:
import sqlite3

###Step 2: Connect to the Database

In [9]:
conn = sqlite3.connect('first_db.db')

###Step 3: Create a Cursor Object

In [10]:
cursor = conn.cursor()

###Step 4: Execute SQL Queries

In [11]:
cursor.execute('''CREATE TABLE IF NOT EXISTS users
                  (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

###Step 5: Insert Data

In [12]:
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('John', 30))

###Step 6: Commit Changes

In [13]:
conn.commit()

###Step 7: Query Data

In [14]:
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'John', 30)

###Step 8: Close the Cursor and Connection

In [15]:
cursor.close()
conn.close()

#1st Database Created Using SQLite

In [27]:
import sqlite3

connection = sqlite3.connect('obitorin.db') #it will create new or if exist it will open

cursor = connection.cursor() #create object for cursor

cursor.execute("create table if not exists konaha_ninjas(Name varchar(30) primary key,age int not null,place varchar(30) default 'Konaha')")

cursor.execute("insert into konaha_ninjas(Name,age) values('Itachi Uchiha',14),('Sasuke Uchiha',12)")

connection.commit()

cursor.execute("SELECT * FROM konaha_ninjas")
rows = cursor.fetchall()

for row in rows:
  print(row)

cursor.close()
connection.close()

('Itachi Uchiha', 14, 'Konaha')
('Sasuke Uchiha', 12, 'Konaha')

In [64]:
cursor.execute("Select * from konaha_ninjas where Name ='Itachi Uchiha'")
data = cursor.fetchall()
for i in data:
  print(i)

('Itachi Uchiha', 14, 'Konaha')

#  Retrieve data into Pandas

In [46]:

import pandas as pd

# Connect to the SQLite database
connection = sqlite3.connect('obitorin.db')

# Define your SQL query
sql_query = "SELECT * FROM konaha_ninjas"

# Execute the SQL query and read the results into a DataFrame
df = pd.read_sql_query(sql_query, connection)

# Close the connection
connection.close()

# Display the DataFrame
print(df)

            Name  age   place
0  Itachi Uchiha   14  Konaha
1  Sasuke Uchiha   12  Konaha

In [83]:
import sqlite3
import pandas as pd
connection =sqlite3.connect('obitorin.db')
query = "SELECT * FROM konaha_ninjas "
data =pd.read_sql_query(query, connection)

connection.close()

print(data)

            Name  age   place
0  Itachi Uchiha   14  Konaha
1  Sasuke Uchiha   12  Konaha

#Create second database

In [89]:
import sqlite3
conn = sqlite3.connect("new_db.db")
cursor = conn.cursor()
cursor.execute("create table if not exists konaha_ninjas(Name varchar(30) primary key,age int not null,place varchar(30) default 'Konaha')")
cursor.execute("insert into konaha_ninjas(Name,age) values('Itachi Uchiha',14),('Sasuke Uchiha',12),('Hinata Hyuga',14),('Naruto Usumaki',15)")

connection.commit()

cursor.execute("SELECT * FROM konaha_ninjas")
rows = cursor.fetchall()

for row in rows:
  print(row)

('Itachi Uchiha', 14, 'Konaha')
('Sasuke Uchiha', 12, 'Konaha')
('Hinata Hyuga', 14, 'Konaha')
('Naruto Usumaki', 15, 'Konaha')

In [ ]:
cursor.execute("insert into konaha_ninjas (Name,age) values('Obito Uchiha',18)")

In [98]:
cursor.execute("insert into konaha_ninjas (Name,age) values('Rin Obito Uchiha',18)")

In [99]:
import pandas as pd
query = "select * from konaha_ninjas"
df = pd.read_sql_query(query,conn)
print(df)

               Name  age   place
0     Itachi Uchiha   14  Konaha
1     Sasuke Uchiha   12  Konaha
2      Hinata Hyuga   14  Konaha
3    Naruto Usumaki   15  Konaha
4      Obito Uchiha   18  Konaha
5  Rin Obito Uchiha   18  Konaha

In [100]:
import pandas as pd
query = "select * from konaha_ninjas where age>15"
df = pd.read_sql_query(query,conn)
print(df)

               Name  age   place
0      Obito Uchiha   18  Konaha
1  Rin Obito Uchiha   18  Konaha