#Taking dataset directly from internet

In [21]:
import pandas as pd

In [22]:
Chicago_Census_Data = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")

In [23]:
Chicago_Public_Schools = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")

In [24]:
Chicago_Crime_Data = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")

#Converting that data into csv

In [15]:
Chicago_Census_Data.to_csv("Chicago_Census_Data.csv")

In [16]:
Chicago_Public_Schools.to_csv("Chicago_Public_Schools.csv")

In [10]:
Chicago_Crime_Data.to_csv("Chicago_Crime_Data.csv")

#FinalDB.db
### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **Chicago_Census_Data**
2.  **Chicago_Public_Schools**
3.  **Chicago_Crime_Data**

In [84]:
import pandas as pd
import sqlite3
connection = sqlite3.connect("FinalDB.db")
cursor = connection.cursor()

In [38]:
Chicago_Census_Data.to_sql("Chicago_Census_Data",connection, if_exists='replace',index =False)

78

In [39]:
Chicago_Public_Schools.to_sql("Chicago_Public_Schools",connection, if_exists= 'replace',index =False)

566

In [44]:
Chicago_Crime_Data.to_sql("Chicago_Crime_Data", connection , if_exists='replace', index=False)

533

#Load SQL

In [45]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [46]:
%sql sqlite:///FinalDB.db

##checking tables

In [66]:
cursor = connection.cursor()

# Execute a query to select table names
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")

# Fetch all the table names from the cursor
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Close the connection
# connection.close()

Chicago_Census_Data
Chicago_Public_Schools
Chicago_Crime_Data

In [65]:
%%sql
drop table 'Chicago_Crime_Data.csv'

 * sqlite:///FinalDB.db
Done.

[]

# Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [74]:
%%sql

select count(*) as total_number_Crime from Chicago_Crime_Data;

 * sqlite:///FinalDB.db
Done.

[(533,)]

In [87]:

# Execute a query to count the number of rows in the CRIME table
cursor.execute("SELECT COUNT(*) FROM Chicago_Crime_Data")

# Fetch the result of the query
total_crimes = cursor.fetchone()[0]

# Print the total number of crimes recorded
print("Total number of crimes recorded:", total_crimes)

# Close the connection
#connection.close()

Total number of crimes recorded: 533

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [ ]:
Chicago_Public_Schools.columns
Chicago_Census_Data.columns # finally found column name here

In [81]:
%%sql
select COMMUNITY_AREA_NUMBER , COMMUNITY_AREA_NAME , per_capita_income from Chicago_Census_Data where per_capita_income <11000;

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 10934),
 (30.0, 'South Lawndale', 10402),
 (37.0, 'Fuller Park', 10432),
 (54.0, 'Riverdale', 8201)]

In [86]:
cursor.execute("select COMMUNITY_AREA_NUMBER , COMMUNITY_AREA_NAME , per_capita_income from Chicago_Census_Data where per_capita_income <11000")
less_than = cursor.fetchall()
for less_data in less_than:
  print(f"the less than 11000: {less_data}")

the less than 11000 0: (26.0, 'West Garfield Park', 10934)
the less than 11000 0: (30.0, 'South Lawndale', 10402)
the less than 11000 0: (37.0, 'Fuller Park', 10432)
the less than 11000 0: (54.0, 'Riverdale', 8201)

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [ ]:
%sql SELECT CASE_NUMBER FROM CHICAGO_CRIME_DATA WHERE DESCRIPTION LIKE '$500%';

In [ ]:
Chicago_Crime_Data

### Problem 4

##### List all kidnapping crimes involving a child?

In [ ]:
%sql SELECT * FROM Chicago_Crime_Data WHERE primary_type ='KIDNAPPING';

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [ ]:
%%sql

SELECT DISTINCT PRIMARY_TYPE
FROM Chicago_Crime_Data
WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%';

In [ ]:
%sql SELECT PRIMARY_TYPE, COUNT(ID) AS COUNT FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION LIKE 'SCHOOL%' GROUP BY PRIMARY_TYPE;


### Problem 6

##### List the type of schools along with the average safety score for each type.

In [116]:
%sql SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) FROM Chicago_Public_Schools GROUP BY "Elementary, Middle, or High School";

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [ ]:
Chicago_Public_Schools.head()

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [126]:
%sql SELECT COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM Chicago_Census_Data ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the community area number only.

In [127]:
%%sql
SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA WHERE COMMUNITY_AREA_NUMBER != 'None'
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(ID) DESC limit 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [130]:
%sql SELECT COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM Chicago_Census_Data WHERE HARDSHIP_INDEX = (SELECT MAX(HARDSHIP_INDEX) FROM Chicago_Census_Data);

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 98.0)]


### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of
crimes?

In [131]:
%%sql
SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA WHERE COMMUNITY_AREA_NUMBER != 'None'
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(ID) DESC limit 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

In [133]:
%%sql
SELECT COMMUNITY_AREA_NAME FROM Chicago_Census_Data WHERE COMMUNITY_AREA_NUMBER IN
(SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA WHERE COMMUNITY_AREA_NUMBER != 'None'
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT(ID) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[('Austin',)]